{% extends "base.html" %}
{% block content %}
  <div class="container">
        <center><h1>Summary for {{student_summary.name}}!</h1></center>
        <h2> General Info </h2>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{student_summary.finished_points}}"
            aria-valuemin="0" aria-valuemax="300" style="width:{{student_summary.finished_points*100/300.0}}%">
            <p> <b>Finished points: </b>{{ student_summary.finished_points }}/300</p>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{student_summary.finished_A_points}}"
            aria-valuemin="0" aria-valuemax="75" style="width:{{student_summary.finished_A_points*100/75.0}}%">
            <p> <b>Finished A points: </b>{{ student_summary.finished_A_points }}/75</p>
          </div>
        </div>

        <p> <b>Unfinished points: </b>{{ student_summary.unfinished_points }}</p>
        <p> <b>Average grade: </b>{% print("{0:.3f}".format(student_summary.average_grade)) %}</p>

        <h2> Specialisation summary </h2>
        {% for specialisation_name, specialisation_progress in student_summary.specialisation_progress.items() %}
            <h3> {{specialisation_name}} </h3>

                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{specialisation_progress.get_total_points()}}"
                    aria-valuemin="0" aria-valuemax="100" style="width:{{specialisation_progress.get_total_points()*100/100.0}}%">
                    <p> <b>Total points: </b>{{ specialisation_progress.get_total_points() }}</p>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{specialisation_progress.get_A_points()}}"
                    aria-valuemin="0" aria-valuemax="100" style="width:{{specialisation_progress.get_A_points()*100/100.0}}%">
                    <p> <b>A points: </b>{{ specialisation_progress.get_A_points() }}</p>
                  </div>
                </div>

                {% if specialisation_progress.get_A_courses() %}

                        <div class="panel panel-default">
                            <div class="panel-group">
                            <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a data-toggle="collapse" href="#collapseA{{loop.index}}">A courses</a>
                                  </h4>
                            </div>
                            <div id="collapseA{{loop.index}}" class="panel-collapse collapse">
                              <ul class="list-group">
                                  {% for A_course in specialisation_progress.get_A_courses() %}
                                    <li class="list-group-item"> {{ A_course }} </li>
                                  {% endfor %}
                              </ul>
                          </div>
                        </div>
                    </div>
                {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-group">
                        <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapse{{loop.index}}">Regular courses</a>
                              </h4>
                        </div>
                        <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                          <ul class="list-group">
                              {% for regular_course in specialisation_progress.get_regular_courses() %}
                                <li class="list-group-item"> {{ regular_course }} </li>
                              {% endfor %}
                          </ul>
                        </div>
                    </div>
                </div>
        {% endfor %}

{% endblock %}
