{% extends "base.html" %}
{% block content %}
  <div class="container">
        <center><h1>Sammanfattning för {{student_summary.name}}!</h1></center>
        <h2> Allmän information </h2>
        {{ course_formater.progress_bar("Avslutade poäng", student_summary.finished_points, 300) }}
        {{ course_formater.progress_bar("Avslutade A poäng", student_summary.finished_A_points, 75) }}

        <p> <b>Ej avslutade poäng: </b>{{ student_summary.unfinished_points }}</p>
        <p> <b>Medelbetyg: </b>{% print("{0:.3f}".format(student_summary.average_grade)) %}</p>

        <h2> Specialiseringssammanfattning </h2>
        {% for specialisation_name, specialisation_progress in student_summary.specialisation_progresses.items() %}
            <h3> {{specialisation_name}} </h3>

                {{ course_formater.progress_bar("Totala poäng", specialisation_progress.get_total_points(), 100) }}
                {{ course_formater.progress_bar("A points", specialisation_progress.get_A_points(), 100) }}

                {% if specialisation_progress.get_A_courses() %}

                        <div class="panel panel-default">
                            <div class="panel-group">
                            <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a data-toggle="collapse" href="#collapseA{{loop.index}}"><span class="glyphicon glyphicon-menu-down"></span> A kurser</a>
                                  </h4>
                            </div>
                            <div id="collapseA{{loop.index}}" class="panel-collapse collapse">
                              {{ course_formater.display_courses(specialisation_progress.get_A_courses()) }}
                          </div>
                        </div>
                    </div>
                {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-group">
                        <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapse{{loop.index}}"><span class="glyphicon glyphicon-menu-down"></span> Ordinarie kurser</a>
                              </h4>
                        </div>
                        <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                            {{ course_formater.display_courses(specialisation_progress.get_regular_courses()) }}
                        </div>
                    </div>
                </div>
        {% endfor %}

{% endblock %}
