{% extends "base.html" %}
{% block content %}
  <div class="container">
        <center><h1>Summary for {{student_summary.name}}!</h1></center>
        <h2> General Info </h2>

        {{ course_formater.progress_bar("Finished points", student_summary.finished_points, 300) }}
        {{ course_formater.progress_bar("Finished A points", student_summary.finished_A_points, 75) }}

        <p> <b>Unfinished points: </b>{{ student_summary.unfinished_points }}</p>
        <p> <b>Average grade: </b>{% print("{0:.3f}".format(student_summary.average_grade)) %}</p>

        <h2> Specialisation summary </h2>
        {% for specialisation_name, specialisation_progress in student_summary.specialisation_progresses.items() %}
            <h3> {{specialisation_name}} </h3>

                {{ course_formater.progress_bar("Total points", specialisation_progress.get_total_points(), 100) }}
                {{ course_formater.progress_bar("A points", specialisation_progress.get_A_points(), 100) }}

                {% if specialisation_progress.get_A_courses() %}

                        <div class="panel panel-default">
                            <div class="panel-group">
                            <div class="panel-heading">
                                  <h4 class="panel-title">
                                      <a data-toggle="collapse" href="#collapseA{{loop.index}}"><span class="glyphicon glyphicon-menu-down"></span> A courses</a>
                                  </h4>
                            </div>
                            <div id="collapseA{{loop.index}}" class="panel-collapse collapse">
                                {{ course_formater.display_courses(specialisation_progress.get_A_courses()) }}
                          </div>
                        </div>
                    </div>
                {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-group">
                        <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapse{{loop.index}}"><span class="glyphicon glyphicon-menu-down"></span> Regular courses </a>
                              </h4>

                        </div>
                        <div id="collapse{{loop.index}}" class="panel-collapse collapse">
                            {{ course_formater.display_courses(specialisation_progress.get_regular_courses()) }}
                        </div>
                    </div>
                </div>
        {% endfor %}

{% endblock %}
